<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="conexionDB" connectionString="Data Source=YUXMED0155L\SQLEXPRESS;Initial Catalog=testyuxi;User ID=sa;Password=Abcdef1234$"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>