<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Platform.Modeler.Properties.Settings.testyuxiConnectionString"
            connectionString="Data Source=YUXMED0155L\SQLEXPRESS;Initial Catalog=testyuxi;User ID=sa;Password=Abcdef1234$"
            providerName="System.Data.SqlClient" />
        <add name="Platform.Modeler.Properties.Settings.testyuxiConnectionString1"
            connectionString="Data Source=YUXMED0155L\SQLEXPRESS;Initial Catalog=testyuxi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>